absl-py==1.4.0
astor==0.8.1
click==7.1.2
Flask==1.1.4
gast==0.2.2
grpcio==1.27.2
h5py==2.10.0
itsdangerous==1.1.0
Jinja2==2.11.3
Keras==2.2.2
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
MarkupSafe==2.0.1
numpy==1.14.5
protobuf==3.6.1
PyYAML==6.0.1
scipy==1.5.4
six==1.17.0
tensorboard==1.10.0
tensorflow==1.10.0
termcolor==1.1.0
Werkzeug==1.0.1
